<!-- templates/registration/login.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'css/headers.css' %}">
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"> </script>
  <title>{% block title %}Login{% endblock %}</title>
</head>
<body>
  <main>

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card my-5">

        <form class="card-body cardbody-color p-lg-5" method="POST" action="{% url 'login' %}">
          {% csrf_token %}

          <div class="text-center">
            <img src="{% static 'img/tms.png' %}" class="img-fluid profile-image-pic img-thumbnail border-0 my-3"
              width="200px" alt="profile">
          </div>

          <div class="mb-3">
            <input type="text" class="form-control" name="username" id="username" aria-describedby="emailHelp"
              placeholder="Username">
              
          </div>
          <div class="mb-3">
            <input type="password" class="form-control" name="password" id="password" placeholder="Password">
            
          </div>
          <div class="text-center">
            <button type="submit" value="login" class="btn btn-color px-5 mb-5 w-100">Login</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
</main>
</body>
</html>