<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/headers.css' %}">
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"> </script>
  <script src="{% static 'js/personal.js' %}"> </script>
  <title>{% block title %}Django Auth Tutorial{% endblock %}</title>
</head>
<body>
  <main>
    <div class="container">
      <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="{% url 'home' %}" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
            <image x="0" y="0" width="40" height="32" xlink:href="{% static 'img/tms.png' %}"/>
          </svg>
        </a>
  
        {% if user.is_authenticated %}
          <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="{% url 'home' %}" class="nav-link px-2 link-secondary">P.Inicial</a></li>
            <li><a href="{% url 'soldier_list' %}" class="nav-link px-2 link-dark">Militares</a></li>
            <li><a href="{% url 'shift_list' %}" class="nav-link px-2 link-dark">Escalas</a></li>
            <li><a href="{% url 'shift_list' %}" class="nav-link px-2 link-dark">Escalas</a></li>
            <li>
              <a class="nav-link link-dark dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ request.session.regimento }}
              </a>
              <ul class="dropdown-menu">
                <li>
                  <form id="session_rc6" action="{% url 'session_update' %}" method="POST">
                      {% csrf_token %}
                      <input type="hidden" name="regimento" id="regimento" value="RC6">
                      <a class="dropdown-item disabled" href="#" onclick="session_rc6()">
                        RC6
                      </a>
                  </form>
                </li>
                <li>
                  <form id="session_re1" action="{% url 'session_update' %}" method="POST">
                      {% csrf_token %}
                      <input type="hidden" name="regimento" id="regimento" value="RE1">
                      <a class="dropdown-item" href="#" onclick="session_re1()">
                        RE1
                      </a>
                  </form>
                </li><li>
                  <form id="session_rtm" action="{% url 'session_update' %}" method="POST">
                      {% csrf_token %}
                      <input type="hidden" name="regimento" id="regimento" value="RTm">
                      <a class="dropdown-item" href="#" onclick="session_rtm()">
                        RTm
                      </a>
                  </form>
                </li>
              </ul>
            </li>
          </ul>
          <div class="col-md-3 text-end">
            <a href="{% url 'logout' %}" class="btn btn-outline-dark" role="button">Logout</a>
          </div>
        {% else %}
          <div class="col-md-3 text-end">
            <a href="{% url 'login' %}" class="btn btn-outline-dark" role="button">Login</a>
          </div>
        {% endif %}
      </header>
    </div>
    {% block content %}
    {% endblock content %}
  </main>
</body>
</html>