<!-- templates/home.html -->
{% extends 'base.html' %}

{% block content %}
<h1>Bem-vindo</h1>
<p>{{ request.session.regimento }}</p>
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock content %}