<!-- templates/shifts.html -->
{% extends 'base.html' %}

{% block content %}
  <h1>Lista de escalas</h1>
  <ul>
    {% for shift in all_shifts_list %}
    <li>
      <a href="{% url 'shift_view' shift.id %}"> {{ shift.name }} </a>
    </li>
    {% endfor %}
  </ul>
{% endblock content %}