<!-- templates/shift.html -->
{% extends 'base.html' %}

{% block content %}
  <h1>{{ shift.name }}</h1>
  <ul>
    <li>
      Diário?: {{ shift.daily }}
    </li>
    <li>
      Nr de Homens: {{ shift.size }}
    </li>
    <li>
      Hora de Inicio: {{ shift.start_time }}
    </li>
    <li>
      Hora de fim: {{ shift.end_time }}
    </li>
    <li>
      Serviço de Semana?: {{ shift.week }}
    </li>
    <li>
      Escondido?: {{ shift.hidden }}
    </li>
    <li>
      Serviço de Fim de Semana?: {{ shift.weekend_shift }}
    </li>
    <li>
      Militares associados:
    </li>
    <ul>
      {% for soldier in soldiers %}
      <li> {{ soldier }} </li>
      {% endfor %}
    </ul>
  </ul>
  <h1>{{ weekend_shift.name }}</h1>
  <ul>
    <li>
      Diário?: {{ weekend_shift.daily }}
    </li>
    <li>
      Nr de Homens: {{ weekend_shift.size }}
    </li>
    <li>
      Hora de Inicio: {{ weekend_shift.start_time }}
    </li>
    <li>
      Hora de fim: {{ weekend_shift.end_time }}
    </li>
    <li>
      Serviço de Semana?: {{ weekend_shift.week }}
    </li>
    <li>
      Escondido?: {{ weekend_shift.hidden }}
    </li>
    <li>
      Serviço de Fim de Semana?: {{ weekend_shift.weekend_shift }}
    </li>
    <li>
      Militares associados:
    </li>
    <ul>
      {% for soldier in soldiers_weekend %}
      <li> {{ soldier }} </li>
      {% endfor %}
    </ul>
  </ul>
  <ul>
    {% for dia in previsao %}
      <li> {{ dia.day }} </li>
      <li> {{ dia.nominees }} </li>
      <li> {{ dia.excused }} </li>
      
    {% endfor %}
  </ul>
{% endblock content %}