<!-- templates/soldiers.html -->
{% extends 'base.html' %}

{% block content %}
  <h1>Lista de militares</h1>
  <ul>
    {% for soldier in all_soldiers_list %}
      <li>{{ soldier.rank.short_rank }} {{ soldier.last_name }}</li>
    {% endfor %}
  </ul>
{% endblock content %}